.closing {
    position: absolute;
    top: 3%;
    right: 3%
}
.modal-btn {
    margin-top: 4%;
    margin-left: 3%
}

.readmore {
    margin-top: 0%
}

@media only screen and (max-width: 600px) {
    .readmore {
        margin-top: 6%
    }
}